@import "./assets/quill";

.comments-container {
  display: block;
  max-width: 40em;
}

.comment-content {
  width: 100%;
  display: flex;
}

.comment-form {
  width: 100%;
}

.comment-editor {
  display: flex;

  &__form {
    width: 100%
  }

  &__editor {
    display: block;
    background-color: #fff;
  }
}

.comment-form-reply {
  display: block;
  padding: 1em;
  background-color: #eee
}

.comment-root {
  display: flex;
}

.comment {
  padding: 1em 0 0 1em;
  display: block;

  &__content-block {
    display: flex
  }

  &__actions {
    text-align: right;
  }

  &__view {
    width: 100%;
    padding: .5em;
    border: 1px solid #eee

  }


}

.comment-form-actions {
  padding-top: .4em;
  text-align: right;

  &__button {
    margin-left: .8em;
    padding: .4em .8em;
  }
}

.comment-author {
  width: 6em;

  &__avatar {
    width: 4em;
  }
}

.comment__content-block {
  display: flex
}

.comment-actions {
  &__button {
    margin-left: 1.6em;
    border:none;
    background: none;
    color:#44a;
    &:hover{
      cursor: pointer;
      color:#227;
    }

  }
}
