@import "./assets/quill";

.comments-container {
  display: block;
  max-width: 40em;
}

.comment-content {
  width: 100%;
  display: flex;
}

.comment-editor {
  width: 100%;
}

.comment__content-block {
  display: flex
}

.comment__actions {
  text-align: right;
}

.comment-root {
  display: flex;
}

.comment {
  padding-left: 1em;
  display:block;
}

.comment-form {
  width: 100%;
  display: flex
}

.comment-form__editor {
  display: block;
  width: 100%;
}

.comment-form-actions {
  padding-top: .4em;
  text-align: right;

  .comment-form-actions__button {
    margin-left: .8em;
    padding: .4em .8em;
  }
}

.comment-author {
  width: 6em;

  .comment-author__avatar {
    width: 4em;
  }
}

.comment__content-block {
  display: flex
}

.comment-actions {
  .comment-actions__button {
    margin-left: 1.6em;
  }
}
