@import "./assets/quill";

.comment {
  display: block;
  padding-left: 1em;
}


.comment-form-root {
  display: flex;

  .comment-form-root__author {

  }

  .comment-form-root__form {

  }
}

.comment-form {
  width: 40em;
  display: block
}

.comment-form__editor {
  display: block;
}

.comment-form-actions {
  padding-top: .4em;
  text-align: right;

  .comment-form-actions__button {
    margin-left: .8em;
    padding: .4em .8em;
  }
}

.comment-author {
  width: 6em;

  .comment-author__avatar {
    width: 4em;
  }
}
